---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/rails/repos?per_page=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '38'
      X-Ratelimit-Reset:
      - '1381162806'
      Last-Modified:
      - Mon, 07 Oct 2013 16:08:52 GMT
      Etag:
      - '"3bd27384161d7eb019daad87aba85faa"'
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '[{"id":20544,"name":"account_location","full_name":"rails/account_location","owner":{"login":"rails","id":4223,"avatar_url":"https://1.gravatar.com/avatar/30f39a09e233e8369dddf6feb4be0308?d=https%3A%2F%2Fidenticons.github.com%2Ff42a37d114a480b6b57b60ea9a14a9d2.png","gravatar_id":"30f39a09e233e8369dddf6feb4be0308","url":"https://api.github.com/users/rails","html_url":"https://github.com/rails","followers_url":"https://api.github.com/users/rails/followers","following_url":"https://api.github.com/users/rails/following{/other_user}","gists_url":"https://api.github.com/users/rails/gists{/gist_id}","starred_url":"https://api.github.com/users/rails/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/rails/subscriptions","organizations_url":"https://api.github.com/users/rails/orgs","repos_url":"https://api.github.com/users/rails/repos","events_url":"https://api.github.com/users/rails/events{/privacy}","received_events_url":"https://api.github.com/users/rails/received_events","type":"Organization"},"private":false,"html_url":"https://github.com/rails/account_location","description":"NOTICE:
        official repository moved to https://github.com/bbommarito/account_location","fork":false,"url":"https://api.github.com/repos/rails/account_location","forks_url":"https://api.github.com/repos/rails/account_location/forks","keys_url":"https://api.github.com/repos/rails/account_location/keys{/key_id}","collaborators_url":"https://api.github.com/repos/rails/account_location/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/rails/account_location/teams","hooks_url":"https://api.github.com/repos/rails/account_location/hooks","issue_events_url":"https://api.github.com/repos/rails/account_location/issues/events{/number}","events_url":"https://api.github.com/repos/rails/account_location/events","assignees_url":"https://api.github.com/repos/rails/account_location/assignees{/user}","branches_url":"https://api.github.com/repos/rails/account_location/branches{/branch}","tags_url":"https://api.github.com/repos/rails/account_location/tags","blobs_url":"https://api.github.com/repos/rails/account_location/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/rails/account_location/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/rails/account_location/git/refs{/sha}","trees_url":"https://api.github.com/repos/rails/account_location/git/trees{/sha}","statuses_url":"https://api.github.com/repos/rails/account_location/statuses/{sha}","languages_url":"https://api.github.com/repos/rails/account_location/languages","stargazers_url":"https://api.github.com/repos/rails/account_location/stargazers","contributors_url":"https://api.github.com/repos/rails/account_location/contributors","subscribers_url":"https://api.github.com/repos/rails/account_location/subscribers","subscription_url":"https://api.github.com/repos/rails/account_location/subscription","commits_url":"https://api.github.com/repos/rails/account_location/commits{/sha}","git_commits_url":"https://api.github.com/repos/rails/account_location/git/commits{/sha}","comments_url":"https://api.github.com/repos/rails/account_location/comments{/number}","issue_comment_url":"https://api.github.com/repos/rails/account_location/issues/comments/{number}","contents_url":"https://api.github.com/repos/rails/account_location/contents/{+path}","compare_url":"https://api.github.com/repos/rails/account_location/compare/{base}...{head}","merges_url":"https://api.github.com/repos/rails/account_location/merges","archive_url":"https://api.github.com/repos/rails/account_location/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/rails/account_location/downloads","issues_url":"https://api.github.com/repos/rails/account_location/issues{/number}","pulls_url":"https://api.github.com/repos/rails/account_location/pulls{/number}","milestones_url":"https://api.github.com/repos/rails/account_location/milestones{/number}","notifications_url":"https://api.github.com/repos/rails/account_location/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/rails/account_location/labels{/name}","created_at":"2008-05-29T20:14:45Z","updated_at":"2013-09-30T03:00:35Z","pushed_at":"2008-05-29T20:18:37Z","git_url":"git://github.com/rails/account_location.git","ssh_url":"git@github.com:rails/account_location.git","clone_url":"https://github.com/rails/account_location.git","svn_url":"https://github.com/rails/account_location","homepage":"http://rubyonrails.org","size":112,"watchers_count":75,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"forks_count":11,"mirror_url":null,"open_issues_count":1,"forks":11,"open_issues":1,"watchers":75,"master_branch":"master","default_branch":"master"},{"id":6076206,"name":"actionpack-action_caching","full_name":"rails/actionpack-action_caching","owner":{"login":"rails","id":4223,"avatar_url":"https://1.gravatar.com/avatar/30f39a09e233e8369dddf6feb4be0308?d=https%3A%2F%2Fidenticons.github.com%2Ff42a37d114a480b6b57b60ea9a14a9d2.png","gravatar_id":"30f39a09e233e8369dddf6feb4be0308","url":"https://api.github.com/users/rails","html_url":"https://github.com/rails","followers_url":"https://api.github.com/users/rails/followers","following_u[...]
