---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/defsprite/repos?per_page=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '41'
      X-Ratelimit-Reset:
      - '1381162806'
      Last-Modified:
      - Fri, 13 Sep 2013 08:41:07 GMT
      Etag:
      - '"50207533060cb86f462c3df228fbf421"'
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '[{"id":5218130,"name":"8-bit-olympics-data-vis","full_name":"defsprite/8-bit-olympics-data-vis","owner":{"login":"defsprite","id":165219,"avatar_url":"https://1.gravatar.com/avatar/606ccd1c2885715ea0e5594132b5b3ef?d=https%3A%2F%2Fidenticons.github.com%2Fcb407b8a1367eb75b61ff34dc6fa9c4e.png","gravatar_id":"606ccd1c2885715ea0e5594132b5b3ef","url":"https://api.github.com/users/defsprite","html_url":"https://github.com/defsprite","followers_url":"https://api.github.com/users/defsprite/followers","following_url":"https://api.github.com/users/defsprite/following{/other_user}","gists_url":"https://api.github.com/users/defsprite/gists{/gist_id}","starred_url":"https://api.github.com/users/defsprite/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/defsprite/subscriptions","organizations_url":"https://api.github.com/users/defsprite/orgs","repos_url":"https://api.github.com/users/defsprite/repos","events_url":"https://api.github.com/users/defsprite/events{/privacy}","received_events_url":"https://api.github.com/users/defsprite/received_events","type":"User"},"private":false,"html_url":"https://github.com/defsprite/8-bit-olympics-data-vis","description":"8
        bit olympics data vis for MMXII Hack day","fork":true,"url":"https://api.github.com/repos/defsprite/8-bit-olympics-data-vis","forks_url":"https://api.github.com/repos/defsprite/8-bit-olympics-data-vis/forks","keys_url":"https://api.github.com/repos/defsprite/8-bit-olympics-data-vis/keys{/key_id}","collaborators_url":"https://api.github.com/repos/defsprite/8-bit-olympics-data-vis/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/defsprite/8-bit-olympics-data-vis/teams","hooks_url":"https://api.github.com/repos/defsprite/8-bit-olympics-data-vis/hooks","issue_events_url":"https://api.github.com/repos/defsprite/8-bit-olympics-data-vis/issues/events{/number}","events_url":"https://api.github.com/repos/defsprite/8-bit-olympics-data-vis/events","assignees_url":"https://api.github.com/repos/defsprite/8-bit-olympics-data-vis/assignees{/user}","branches_url":"https://api.github.com/repos/defsprite/8-bit-olympics-data-vis/branches{/branch}","tags_url":"https://api.github.com/repos/defsprite/8-bit-olympics-data-vis/tags","blobs_url":"https://api.github.com/repos/defsprite/8-bit-olympics-data-vis/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/defsprite/8-bit-olympics-data-vis/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/defsprite/8-bit-olympics-data-vis/git/refs{/sha}","trees_url":"https://api.github.com/repos/defsprite/8-bit-olympics-data-vis/git/trees{/sha}","statuses_url":"https://api.github.com/repos/defsprite/8-bit-olympics-data-vis/statuses/{sha}","languages_url":"https://api.github.com/repos/defsprite/8-bit-olympics-data-vis/languages","stargazers_url":"https://api.github.com/repos/defsprite/8-bit-olympics-data-vis/stargazers","contributors_url":"https://api.github.com/repos/defsprite/8-bit-olympics-data-vis/contributors","subscribers_url":"https://api.github.com/repos/defsprite/8-bit-olympics-data-vis/subscribers","subscription_url":"https://api.github.com/repos/defsprite/8-bit-olympics-data-vis/subscription","commits_url":"https://api.github.com/repos/defsprite/8-bit-olympics-data-vis/commits{/sha}","git_commits_url":"https://api.github.com/repos/defsprite/8-bit-olympics-data-vis/git/commits{/sha}","comments_url":"https://api.github.com/repos/defsprite/8-bit-olympics-data-vis/comments{/number}","issue_comment_url":"https://api.github.com/repos/defsprite/8-bit-olympics-data-vis/issues/comments/{number}","contents_url":"https://api.github.com/repos/defsprite/8-bit-olympics-data-vis/contents/{+path}","compare_url":"https://api.github.com/repos/defsprite/8-bit-olympics-data-vis/compare/{base}...{head}","merges_url":"https://api.github.com/repos/defsprite/8-bit-olympics-data-vis/merges","archive_url":"https://api.github.com/repos/defsprite/8-bit-olympics-data-vis/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/defsprite/8-bit-olympics-data-vis/downloads","issues_url":"https://api.github.com/repos/defsprite/8-bit-olympics-data-vis/issues{/number}","pulls_url":"https://api.github.com/repos/defsprite/8-bit-olympics-data-vis/pulls{/number}","milestones_url":"https://api.github.com/repos/defsprite/8-bit-olympics-data-vis/milestones{/number}","notifications_url":"https://api.github.com/repos/defsprite/8-bit-olympics-data-vis/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/defsprite/8-bit-olympics-data-vis/labels{/name}","created_at":"2012-07-28T22:09:26Z","updated_at":"2013-01-11T11:33:40Z","pushed_at":"2012-07-29T05:37:25Z","git_url":"git://github.com/defsprite/8-bit-olympics-data-vis.git","ssh_url":"git@github.com:defsprite/8-bit-olympics-data-vis.git","clone_url":"https://github.com/defsprite/8-bit-olympics-data-vis.git","svn_url":"https://github.com/defsprite/8-bit-olympics-data-vis","homepage":null,"size":132,"watchers_count":1,"language":"JavaScript","has_issues":false,"has_downloads":true,"has_wiki":true,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":1,"master_branch":"master","default_branch":"master"},{"id":6759891,"name":"active_admin","full_name":"defsprite/active_admin","owner":{"login":"defsprite","id":165219,"avatar_url":"https://1.gravatar.com/avatar/606ccd1c2885715ea0e5594132b5b3ef?d=https%3A%2F%2Fidenticons.github.com%2Fcb407b8a1367eb75b61ff34dc6fa9c4e.png","gravatar_id":"606ccd1c2885715ea0e5594132b5b3ef","url":"https://api.github.com/users/defsprite","html_url":"https://github.com/defsprite","followers_url":"https://api.github.com/users/defsprite/followers","following_url":[...]
